# Regex_NLP

https://regex101.com/

In [1]:
import re

chat1 = "Ravi:Can I get my order update #566325"
chat2 = "Ravi:You ask lot of questions, 9988776655, abc@xyz.com"
chat3 = "Ravi: here it is abc@xyz.com, (998)-877-6655"
chat4 = "Ravi: yes abc@xyz.com, 9988776655"

https://regex101.com/

Pattern matching

\d match single digits
\d\d match two digits

to match multilpe digits
a{n} exactly matches n number of didgits

here for phone numbver it is
for 1st format: \d{10}

In [20]:
chat1 = "Ravi:Can I get my order update #566325"
chat2 = "Ravi:You ask lot of questions, 9988776655, abc@xyz.com"
chat3 = "Ravi: here it is abc_82@xyz.com, (998)-877-6655"
chat4 = "Ravi: yes abc@xyz.io, 9988776655"
chat5 = "Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com"

chats = [chat1, chat2, chat3, chat4, chat5]
chats

['Ravi:Can I get my order update #566325',
 'Ravi:You ask lot of questions, 9988776655, abc@xyz.com',
 'Ravi: here it is abc_82@xyz.com, (998)-877-6655',
 'Ravi: yes abc@xyz.io, 9988776655',
 'Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com']

In [16]:
#1st pattern for continuous 10 digit number

pattern = '\d{10}'

for chat in chats:
    matches = re.findall(pattern, chat)
    print(f"Phone number in '{chat}:'")
    print(matches)

Phone number in 'Ravi:Can I get my order update #566325:'
[]
Phone number in 'Ravi:You ask lot of questions, 9988776655, abc@xyz.com:'
['9988776655']
Phone number in 'Ravi: here it is abc_82@xyz.com, (998)-877-6655:'
[]
Phone number in 'Ravi: yes abc@xyz.com, 9988776655:'
['9988776655']
Phone number in 'Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com:'
['9988776655', '7788669911']

In [17]:
#2nd pattern "\(\d{3}\)-\d{3}-\d{4}"

pattern = "\(\d{3}\)-\d{3}-\d{4}"
for chat in chats:
    matches = re.findall(pattern, chat)
    print(f"Phone number in '{chat}:'")
    print(matches)

Phone number in 'Ravi:Can I get my order update #566325:'
[]
Phone number in 'Ravi:You ask lot of questions, 9988776655, abc@xyz.com:'
[]
Phone number in 'Ravi: here it is abc_82@xyz.com, (998)-877-6655:'
['(998)-877-6655']
Phone number in 'Ravi: yes abc@xyz.com, 9988776655:'
[]
Phone number in 'Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com:'
[]

In [18]:
# by using both  "\d{10}|\(\d{3}\)-\d{3}-\d{4}" (inbetween used or (|))


pattern = "\d{10}|\(\d{3}\)-\d{3}-\d{4}"
for chat in chats:
    matches = re.findall(pattern, chat)
    print(f"Phone number in '{chat}:'")
    print(matches)

Phone number in 'Ravi:Can I get my order update #566325:'
[]
Phone number in 'Ravi:You ask lot of questions, 9988776655, abc@xyz.com:'
['9988776655']
Phone number in 'Ravi: here it is abc_82@xyz.com, (998)-877-6655:'
['(998)-877-6655']
Phone number in 'Ravi: yes abc@xyz.com, 9988776655:'
['9988776655']
Phone number in 'Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com:'
['9988776655', '7788669911']

# E mail id

"[a-z0-9A-Z_]*@[a-zA-Z0-9]*\.com"

[a-z0-9A-Z_]* : a to z, A to Z, 0 to 9 & underscore which may be multiple times so *


[a-zA-Z0-9]*\  : \ gives particluar next is . only not other tahn that

In [27]:
pattern = "[a-z0-9A-Z_]*@[a-zA-Z0-9]*\.[a-zA-Z]*"

for chat in chats:
    matches = re.findall(pattern, chat)
    print(f"E mail Id number in '{chat}:'")
    print(matches)

E mail Id number in 'Ravi:Can I get my order update #566325:'
[]
E mail Id number in 'Ravi:You ask lot of questions, 9988776655, abc@xyz.com:'
['abc@xyz.com']
E mail Id number in 'Ravi: here it is abc_82@xyz.com, (998)-877-6655:'
['abc_82@xyz.com']
E mail Id number in 'Ravi: yes abc@xyz.io, 9988776655:'
['abc@xyz.io']
E mail Id number in 'Ravi:You ask lot of questions, 9988776655, 7788669911, abc@xyz.com:'
['abc@xyz.com']

# To get Order number

In [29]:
chat1 = "Ravi:Can I get my order update 566325"
chat2 = "Ravi: I have problem with my order #566325"
chat3 = "Ravi: My order 566325 is having issue, I wasr chared $300 instead of $250."

chats = [chat1, chat2, chat3]

In [33]:
pattern = "order[^\d]*(\d*)"  

#"order[^\d]*(\d*)"  
#"order : Starts with order before the number in sentence
#[^\d] : represents charecters in the range
# (\d*) : extracxting required only

for chat in chats:
    matches = re.findall(pattern, chat)
    print(f"Order Id number in '{chat}:'")
    print(matches)

Order Id number in 'Ravi:Can I get my order update 566325:'
['566325']
Order Id number in 'Ravi: I have problem with my order #566325:'
['566325']
Order Id number in 'Ravi: My order 566325 is having issue, I wasr chared $300 instead of $250.:'
['566325']

# Retrive Data from web

In [79]:
text = """Born	Elon Reeve Musk
June 28, 1971 (age 52)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa
Canada
United States
Education	University of Pennsylvania (BA, BS)
Title	
Founder, CEO, and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner, CTO and Executive Chairman of X (formerly Twitter)
President of the Musk Foundation
Founder of The Boring Company, X Corp., and xAI
Co-founder of Neuralink, OpenAI, Zip2, and X.com (part of PayPal)
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partners	
Amber Heard (2015–2017)[1]
Grimes (2018–2021)[2]
Children	11[a][4]
Parents	
Errol Musk
Maye Musk
Relatives	
Kimbal Musk (brother)
Tosca Musk (sister)
Lyndon Rive (cousin)
Family	Musk family"""

In [44]:
#for age: "age (\d+)"gm

pattern = "age (\d+)"

age = re.findall(pattern, text)
age = int(age[0])
age

52

In [51]:
#retrive name - its after born word in wiki
# Born.* : from Born .* means all the words in the line, so we need to retrive which is resto f all is name so we put bracket fro .*

pattern = "Born(.*)"

name = re.findall(pattern, text)
name[0]

'\tElon Reeve Musk'

In [52]:

#above is given white spaces befor the name so we can strip using python
name[0].strip()

'Elon Reeve Musk'

In [55]:
#birth date

#its after the birt date: "Born.*\n(.*)\(age"
# \n for next line
#(.*) : selects all the data in line
# \(age : by applying this here we stopped getting data before age


pattern = "Born.*\n(.*)\(age"

birth_date = re.findall(pattern, text)
birth_date[0]

'June 28, 1971 '

In [56]:
#Birth place

#next line of birt date and need whole line 
#so re is : "Born.*\n.*\n(.*)"

pattern = "Born.*\n.*\n(.*)"

birth_place = re.findall(pattern, text)
birth_place[0]

'Pretoria, Transvaal, South Africa'

In [57]:
#easy way

#by using age line only: "\(age.*\n(.*)"

pattern = "\(age.*\n(.*)"

birth_place = re.findall(pattern, text)
birth_place[0]

'Pretoria, Transvaal, South Africa'

In [74]:
# Combine all thsee things i python function
import pandas as pd
def get_personel_info_from_wiki(text):
    age = re.findall("age (\d+)", text)
    name = re.findall( "Born(.*)", text)
    birth_place = re.findall("\(age.*\n(.*)", text)
    birth_date = re.findall("Born.*\n(.*)\(age", text)

    return pd.DataFrame({
        "Name": name[0].strip(),
        "Age": int(age[0]),
        "DOB": birth_date[0],
        "Birth Place": birth_place[0]}, index=[0])

In [75]:
get_personel_info_from_wiki(text)

              Name  Age             DOB                        Birth Place
0  Elon Reeve Musk   52  June 28, 1971   Pretoria, Transvaal, South Africa

# Using NLTK

In [84]:
import re
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

def preprocess_text(text):
    # Tokenization
    tokens = word_tokenize(text)
    
    # Removing stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in filtered_tokens]
    
    return " ".join(lemmatized_tokens)

def get_personel_info_from_wiki(text):
    preprocessed_text = preprocess_text(text)
    
    age = re.findall(r"age (\d+)", preprocessed_text)
    name = re.findall(r"Born(.*)", preprocessed_text)
    birth_place = re.findall(r"\(age.*\n(.*)", preprocessed_text)
    birth_date = re.findall(r"Born.*\n(.*)\(age", preprocessed_text)

    if age and name and birth_date and birth_place:
        return pd.DataFrame({
            "Name": name[0].strip(),
            "Age": int(age[0]),
            "DOB": birth_date[0],
            "Birth Place": birth_place[0]
        }, index=[0])
    else:
        return pd.DataFrame()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [85]:
text = """John Doe (born January 1, 1990) is a professional athlete. He is currently 32 years old. 
          He was born in New York, USA."""
result = get_personel_info_from_wiki(text)
print(result)

Empty DataFrame
Columns: []
Index: []